<a href="https://colab.research.google.com/github/roshan10597/Daily-codes/blob/main/Daily_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q. convert temperature from degree celcius to fahrenheit?

In [ ]:
celcius_temp=float(input("Enter value of temp in celcius: "))
feh_temp=(celcius_temp*1.8)+32
print(f"fehrenheit temp of {celcius_temp} is {feh_temp}")
# OR
# print("feh temp of {0} is {1}".format(celcius_temp,feh_temp))

Enter value of temp in celcius: 50
fehrenheit temp of 50.0 is 122.0

Q. Given 2 sets of integers,print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either  or  but do not exist in both.Give the symmetric diffrence.

In [ ]:
a,alist=(int(input()),input().split())      # a indicate the length of the alist
b,blist=(int(input()),input().split())      # b indicate the length of the blist
x=set(alist)                                # Convert list into set  
y=set(blist)                                # Convert list into set
p=y.difference(x)                           
q=x.difference(y)
r=p.union(q)                                # Merge the elements of both sets p and q
print ('\n'.join(sorted(r, key=int)))       # Print the union set in ascending order

4
1 2 3 4
4
1 2 5 6
3
4
5
6

Q. Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

constraint:
1900<=year<=10E5

In [ ]:
def is_leap(year):
    if 1900<=year<=10E5:
      if year%4==0 and year%400==0:
          return True
      elif year%4==0 and year%100==0:
          return False
      elif year%4==0:
          return True
      else:
          return False
    else:
      return None

year = int(input())
print(is_leap(year))

2100
False

Q.Swap the values of variables

In [ ]:
# first way(NAIVE APPROACH)
# We can use these approach for both string and numeric data

x=10
y=20
temp=x
x=y
y=temp
print("Swap value of X: ",x)
print("Swap value of y: ",y)

Swap value of X:  20
Swap value of y:  10

In [ ]:
# Second way(COMMA APPROACH)
# We can use these approach for both string and numeric data

x=10
y=20
x,y=y,x
print("Swap value of X: ",x)
print("Swap value of y: ",y)

Swap value of X:  20
Swap value of y:  10

In [ ]:
# Third way(XOR APPROACH)
# We can only use this approach for the numerical data

x=10
y=20
x=x^y
y=x^y
x=x^y
print("Swap value of X: ",x)
print("Swap value of y: ",y)

Swap value of X:  20
Swap value of y:  10

In [ ]:
# Fourth way(ARITHMATIC APPROACH)
# We can only use this approach for the numerical data

x=10
y=20
x=x+y
y=x-y
x=x-y
print("Swap value of X: ",x)
print("Swap value of y: ",y)

Swap value of X:  20
Swap value of y:  10