Q. convert temperature from degree celcius to fahrenheit?

In [ ]:
celcius_temp=float(input("Enter value of temp in celcius: "))
feh_temp=(celcius_temp*1.8)+32
print(f"fehrenheit temp of {celcius_temp} is {feh_temp}")
# OR
# print("feh temp of {0} is {1}".format(celcius_temp,feh_temp))

Enter value of temp in celcius: 50
fehrenheit temp of 50.0 is 122.0

Q. Given 2 sets of integers,print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either  or  but do not exist in both.Give the symmetric diffrence.

In [ ]:
a,alist=(int(input()),input().split())      # a indicate the length of the alist
b,blist=(int(input()),input().split())      # b indicate the length of the blist
x=set(alist)                                # Convert list into set  
y=set(blist)                                # Convert list into set
p=y.difference(x)                           
q=x.difference(y)
r=p.union(q)                                # Merge the elements of both sets p and q
print ('\n'.join(sorted(r, key=int)))       # Print the union set in ascending order

4
1 2 3 4
4
1 2 5 6
3
4
5
6

Q. Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

constraint:
1900<=year<=10E5

In [ ]:
def is_leap(year):
    if 1900<=year<=10E5:
      if year%4==0 and year%400==0:
          return True
      elif year%4==0 and year%100==0:
          return False
      elif year%4==0:
          return True
      else:
          return False
    else:
      return None

year = int(input())
print(is_leap(year))

2100
False

Q.Swap the values of variables

In [ ]:
# first way(NAIVE APPROACH)
# We can use these approach for both string and numeric data

x=10
y=20
temp=x
x=y
y=temp
print("Swap value of X: ",x)
print("Swap value of y: ",y)

Swap value of X:  20
Swap value of y:  10

In [ ]:
# Second way(COMMA APPROACH)
# We can use these approach for both string and numeric data

x=10
y=20
x,y=y,x
print("Swap value of X: ",x)
print("Swap value of y: ",y)

Swap value of X:  20
Swap value of y:  10

In [ ]:
# Third way(XOR APPROACH)
# We can only use this approach for the numerical data

x=10
y=20
x=x^y
y=x^y
x=x^y
print("Swap value of X: ",x)
print("Swap value of y: ",y)

Swap value of X:  20
Swap value of y:  10

In [ ]:
# Fourth way(ARITHMATIC APPROACH)
# We can only use this approach for the numerical data

x=10
y=20
x=x+y
y=x-y
x=x-y
print("Swap value of X: ",x)
print("Swap value of y: ",y)

Swap value of X:  20
Swap value of y:  10

Q. Check whether given number is Prime number or not?

In [ ]:
# Program to check if a number is prime or not


# To take input from the user
num = int(input("Enter a number: "))

# prime numbers are greater than 1
if num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

Enter a number: 41
41 is a prime number

Q. Print the pyramid?

In [ ]:
# Function to print pyramid
rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")
   
    while k!=(2*i-1):
        print("* ", end="")
        k += 1
   
    k = 0
    print()

Enter number of rows: 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
# Function to print pyramid
def Pyramid(n):
	
	# number of spaces
	k = n - 1

	# outer loop to handle number of rows
	for i in range(0, n):
	
		# inner loop to handle number spaces
		# values changing acc. to requirement
		for j in range(0, k):
			print(end=" ")
	
		# decrementing k after each loop
		k = k - 1
	
		# inner loop to handle number of columns
		# values changing acc. to outer loop
		for j in range(0, i+1):
		
			# printing stars
			print("* ", end="")
	
		# ending line after each row
		print("\r")

n=int(input("Enter the number of rows: "))
triangle(n)

Enter the number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

Q.Python Program to Find the Largest Among Three Numbers?

In [ ]:
# change the values of num1, num2 and num3
# for a different result
num1 = 43
num2 = 98
num3 = 15

# uncomment below lines to take three numbers from user
#num1 = float(input("Enter first number: "))
#num2 = float(input("Enter second number: "))
#num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 98



Q.Write a function which takes the excel column name as an input and returns the corresponding column number. A few examples are :

* column name = <code>'J'</code> , column number = <code>10</code>
* column name = <code>'AP'</code> , column number = <code>42</code>
* column name = <code>'AAA'</code>, column number = <code>703</code>

In [ ]:
def get_excel_column_number(column_name):
  '''
  This functions returns the corresponding column number for an excel column name
  '''
  # Get the dictionary mapping

  list_of_nums = list(range(1,27,1))
  alphabets = 'abcdefghijklmnopqrstuvwxyz'
  alphabet_list = [char.upper() for char in alphabets]
  
  # Zip them together
  alphabet_num_dict = dict(zip(alphabet_list,list_of_nums))

  # Starting from the righmost character of the column name, keep adding the column number
  multiplier = 1
  colNum = 0
  for letter in column_name[::-1]:
    letter
    colNum = colNum + alphabet_num_dict[letter]* multiplier
    multiplier = multiplier * 26
    multiplier
  return colNum

In [ ]:
# Check
get_excel_column_number('JAA')

6787

Q. String split and join?

In [ ]:
string=input("")

def Split_Join(sentence):
  str_split=sentence.split()
  separator = '-'
  return print(separator.join(str_split))
  
x=Split_Join(string)

i am roshan
i-am-roshan

Q.We have seen that lists are mutable (they can be changed), and tuples are immutable (they cannot be changed).

Let's try to understand this with an example.

You are given an immutable string, and you want to make changes to it.

In [ ]:
#Way 1 
string=input("")
alter_letter=input("")
position=int(input(""))

def Alter(x,y,z):
  string=x[:z]+y+x[(z+1):]
  return print(string)

a=Alter(string,alter_letter,position)

abcdefghijkl
z
5
abcdezghijkl

In [ ]:
#Way 2 
def mutate_string(string, position, character):
    string=string[:position]+character+string[(position+1):]
    return string

if __name__ == '__main__':
    s = input()
    i, c = input().split()
    s_new = mutate_string(s, int(i), c)
    print(s_new)

abcdefghijklmn
5 z
abcdezghijklmn

Q.find the percentage?
The first line contains the integer n , the number of students' records. The next n lines contain the names and marks obtained by a student, each value separated by a space. The final line contains query_name, the name of a student to query.
percentage of the marks is need to be the output

In [ ]:
from decimal import Decimal
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()


# Extract the values into a list: query_scores
query_scores = student_marks[query_name]

# Sum the scores in the list: total_scores
total_scores = sum(query_scores)

# Convert the floats to decimals and average the scores: avg
avg = Decimal(total_scores/3)

# Print the mean of the scores, correct to two decimals
print(round(avg,2))

2
roshan 23 45 65
shubh 45 78 95
shubh
72.67

Q.

#Sample Input 0

ABCDEFGHIJKLIMNOQRSTUVWXYZ


4


#Sample Output 0

ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

In [ ]:
def wrap(string, max_width):
    return "\n".join([string[i:i+max_width] for i in range(0, len(string), max_width)])

if __name__ == '__main__':
    string, max_width = input(), int(input())
    result = wrap(string, max_width)
    print(result)

evrbyrbTBYN
4
evrb
yrbT
BYN

Q. Convert first letter of the word into capital letter?

In [ ]:
import string
string1=input("Enter your name:")
c=string.capwords(string1)
print(c)

Enter your name:esbtern dgbn
Esbtern Dgbn

Q. Find the runner-up score?

In [ ]:
n = int(input())
a = [int(x) for x in input().split()]
largest = secondlargest = -100
for x in a:
    if x > largest:
        tmp = largest
        largest = x
        secondlargest = tmp
    elif x > secondlargest and x != largest:
        secondlargest = x
print(secondlargest)

5
45 45 44 12 32
44

Q.list

Sample Input 0

12

insert 0 5

insert 1 10

insert 0 6

print

remove 6

append 9

append 1

sort

print

pop

reverse

print

Sample Output 0

[6, 5, 10]

[1, 5, 9, 10]

[9, 5, 1]

In [ ]:
L = []
for _ in range(int(input())):
    command, *args = input().split()
    try:
        getattr(L, command)(*(int(x) for x in args))
    except AttributeError:
        print(L)

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

Q.find the average of the distinct heights?

In [ ]:
def average(array):
    # your code goes here
    average=(sum(set(array))/len(set(array)))   #As distinct heights is mentioned in the question so we have to use the set here.
    return round(average,3)
    
    
if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
170 170 155 165 140 180 175 188 178 180
168.875

Q.The first line contains integers  n and m separated by a space.
The second line contains n integers, the elements of the array.
The third and fourth lines contain m integers,A and B, respectively.
For each  integer in the array, if i in A , you add  to your happiness. If i in B, you add -1  to your happiness. Otherwise, your happiness does not change. 

Output your final happiness at the end?

In [ ]:
n, m = input().split()

search_arr = input().split()

A = set(input().split())
B = set(input().split())
sum=0   #sum is nothing but happiness
for i in search_arr:
    if i in A:
        sum=sum+1
    elif i in B:
        sum=sum-1
    else:
        pass
    
print (sum) # final happiness

3 2
1 5 6
1 5
6 7
1

Q.Exceptions handling using try and except?

In [ ]:
a=int(input())
i=1
while i<=a:
  try:
    n,m=input().split(" ")
    n=int(n)
    m=int(m)
    division=n/m
    print(int(division))
    i=i+1
  except ZeroDivisionError as e:
    print("Error Code: integer division or modulo by zero")
    i=i+1
  except ValueError as se:
    print("Error Code:",se)
    i=i+1

3
2 0
Error Code: integer division or modulo by zero
2 1
2
2 $
Error Code: invalid literal for int() with base 10: '$'

Q.Python program to print the smallest element in an array?

In [ ]:
#Initialize array     
arr = [27, 19, 70, 113, 65];     
     
#Initialize min with the first element of the array.    
    
min = arr[0];    
     
#Loop through the array    
for i in range(0, len(arr)):    
    #Compare elements of array with min    
   if(arr[i] < min):    
       min = arr[i];    
     
print("Smallest element present in given array: " + str(min));

Smallest element present in given array: 19

Q.Python program to print the elements of an array present on odd position and even position ?

In [ ]:
#Initialize array     
arr = [1, 2, 3, 4, 5];     
     
print("Elements of given array present on odd position: ");    
#Loop through the array by incrementing the value of i by 2     
    
for i in range(0, len(arr), 2):    
    print(arr[i])

print("\n")
print("Elements of given array present on even position: ");    
#Loop through the array by incrementing the value of i by 2     
    
for i in range(1, len(arr), 2):    
    print(arr[i])

Elements of given array present on odd position:
1
3
5


Elements of given array present on even position:
2
4

In [8]:
x=int(input())
n=int(input())
def Power(x,n):
  
  for i in range(n+1):
    power=x**i
    return power

  return (f"The 2 raised to the power {i} is {power}")

a=Power(x,n)
a

10
10

1

Q. Python Program to Display Powers of number Using Anonymous Function?

In [11]:
# Display the powers of number using anonymous function

n = int(input("Enter the number: "))
terms = int(input("How many terms: "))

result = list(map(lambda x: n ** x, range(terms)))    # use anonymous function

print("The total number of terms are:",terms)
for i in range(terms):
   print(f"{n} raised to power {i} is {result[i]}")

Enter the number: 3
How many terms: 10
The total number of terms are: 10
3 raised to power 0 is 1
3 raised to power 1 is 3
3 raised to power 2 is 9
3 raised to power 3 is 27
3 raised to power 4 is 81
3 raised to power 5 is 243
3 raised to power 6 is 729
3 raised to power 7 is 2187
3 raised to power 8 is 6561
3 raised to power 9 is 19683